html{
	font-size: 62.5%;
}

body{
	width: 100%;
	height: 100%;
	font-size: 1.4rem;
}


html, body { 
	font-family:$font, "Source Han Sans", "思源黑体", "思源黑体 CN", "Source Sans Pro",  "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", sans-serif; 
	text-rendering: optimizeLegibility !important; 
	-webkit-font-smoothing: antialiased !important; 
	-moz-font-smoothing: antialiased !important; 
	-moz-osx-font-smoothing: grayscale; 
} 

ul{ 
	list-style: none;
}

.clearfix:after {
	content: " ";
	display: block;
	clear: both;
	height: 0;
}

.clearfix {
	zoom: 1;
}